<div class="remove-container container-block">
  <h2 class="container-block-title">
    Links
  </h2>
  <ul class="list-unstyled interests-list">
    <a href="https://stackoverflow.com/users/1068539/sharkofmirkwood" target="_blank"><img
        src="https://stackoverflow.com/users/flair/1068539.png?theme=dark" width="208" height="58"
        alt="profile for SharkofMirkwood at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
        title="profile for SharkofMirkwood at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
  </ul>
</div>
<!--//About-->
